<!-- Dit is de footer, die Tekstboek pagina en Hulpboek nummer en pagina laat zien, als nodig.
    Er is ook een top-knop als je scrollt -->

<footer>
    <div>
        {% if page.tb %}
            Tekstboek: p. {{page.tb}}
            <br><br>
        {%endif%}
        {% if page.hbnr and page.hb%}
            Hulpboek {{page.hbnr}}: p. {{page.hb}}
        {%endif%}

    </div>
    
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

    <script src="{{'/assets/js/topButton.js' | relative_url}}"></script>
</footer>