<footer>
    <div>
        {% if page.tb %}
            <p>Tekstboek: p. {{page.tb}}</p>
        {%endif%}
        <!--{% if page.tb and page.hbnr and page.hb%}
        <br>
        {%endif%}-->
        {% if page.hbnr and page.hb%}
            <p>Hulpboek {{page.hbnr}}: p. {{page.hb}}</p>
        {%endif%}

    </div>
    
    <button onclick="topFunction()" id="topBtn" title="Naar Top"><b style="font-size: 0.8em;">▲</b> Top</button>

    <script src="{{'/assets/js/topButton.js' | relative_url}}"></script>
</footer>