<nav id="topnav" class="topnav">
    <a href="/">Home</a>
    <a href="/over">Over</a>

    <a href="/basiskennis">Basiskennis</a>
    
    <div class="dropdown">
        <button class="dropbtn">
            Werkwoord <b style="font-size: 13px;">▼</b>
        </button>
        <div class="dropdown-content">
            <a href="/werkwoord/basis">Basis</a>
            <a href="/werkwoord/overzicht-λυω">Overzicht λυω</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">
            Dropdown 2 <b style="font-size: 13px;">▼</b>
        </button>
        <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </div>
    <a href="/omzetter">Omzetter</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>

    <script src="/assets/js/navbar.js"></script>
</nav>