<nav id="topnav" class="topnav">
    <a href="{{'/' | relative_url}}">Home</a>
    <a href="{{'/over' | relative_url}}">Over</a>

    <a href="{{'/basiskennis' | relative_url}}">Basiskennis</a>
    
    <div class="dropdown">
        <button class="dropbtn">
            Werkwoord <b style="font-size: 13px;">▼</b>
        </button>
        <div class="dropdown-content">
            <a href="{{'/werkwoord/basis' | relative_url}}">Basis</a>
            <a href="{{'/werkwoord/overzicht-λυω' | relative_url}}">Overzicht λυω</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">
            Dropdown 2 <b style="font-size: 13px;">▼</b>
        </button>
        <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </div>
    <a href="{{'/omzetter' | relative_url}}">Omzetter</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>

    <script src="{{'/assets/js/navbar.js' | relative_url}}"></script>
</nav>