footer {
    /*background-color: #C4AC2E;*/
    background-color: var(--nav-color);

    color: white;
    text-align: left;
    padding: .875em 1em;
    text-decoration: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 3.125em;
}

#topBtn {
    display: none; /* Hidden by default */
    border: none;
    outline: none;
    background-color: transparent; /* Remove background color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */

    font-size: 1.125em;
    color: white;
}

#topBtn:hover {
    background-color: #55555555; /* Add a dark-grey background on hover */
}