body {
    --bg-color: #ffeb87;
    /* Old:
    --nav-color: #a78c02;
    --nav-accent-color: #02A78C;
    --table-color: #dc8423;*/
    --nav-color: #806C02;
    --nav-accent-color: #02806C;
    --table-color: #ac4d04;

    background-color: var(--bg-color);
    /*https://www.canva.com/colors/color-wheel/*/
}

/* Fonts */
body, .dropdown-content {
    font-family: "Gentium Plus", "Newsreader", serif;
}
h1, h2, h3, h4, nav, button {
    font-family: "Modern Antiqua", "Gentium Plus", serif;
}

/* Links */
a {
    color: #1d42ff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* Dikke scheidingsstreep */ 
hr {
    height: .19em;
    border-width: 0;
    color: var(--nav-color);
    background-color: var(--nav-color);

    margin: 1.5em 0;
}

code {
    font-family: Consolas, 'Courier New', monospace;
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    white-space: break-spaces;
    background-color: #656c7633;
    border-radius: 0.375em;
}

img {
    max-height: 400px;
    max-width: 100%;;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0 5%
}

.flex-item {
    text-align: center;
    width: 40%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.flex-item a {
    color: black;
    background-color: #ccbc6c;
    width: 60%;
    padding: .5em;
    border-radius: .3em;
    margin: .3em;
}

.flex-item a:hover {
    background-color: #b2a45e;
    text-decoration: none;
}

.flex-container a:active {
    text-decoration: underline;
}

@media screen and (max-width: 700px) {
    .flex-item {
        width: 80%;
    }

    .flex-item a {
        width: 90%;
    }
}