:root {
    /* 
    == OLD COLORS ==
    https://www.canva.com/colors/color-wheel/

    --bg-color: #ffeb87;
    
    --nav-color: #806C02;
    --nav-accent-color: #02806C;

    --bg-color-dim: 

    --text-color: black;
    --text-color-special: #333333;
    --text-color-alternate: white;
    --link-color: #1d42ff;

    --menu-btn: #ccbc6c;
    --menu-hover: #b2a45e;
    --menu-notdone: #928751;

    --code-bg: #656c7633;
    */
    
    --bg-color: #ffeb87;

    --bg-dim: #ccbc6c;
    --bg-dimmer: #b2a45e;
    --bg-dimmerer: #928751;

    --nav-color: #806C02;
    --nav-accent-color: #02806C;
    --nav-dropdown-color: #f9f9f9;
    --nav-dropdown-color-hover: #ddd;

    --text-color: black;
    --text-color-special: #4e4e4e;
    --text-color-alternate: white;
    --link-color: #1d42ff;

    --code-bg: #656c7633;
}

/* experimental darkmode

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #312e1a;

        --bg-dim: #57512e;
        --bg-dimmer: #7d7542;
        --bg-dimmerer: #3c3820; /* or #292615? 

        --nav-color: #18160c;
        --nav-accent-color: #22453f;
        --nav-dropdown-color: #252525;
        --nav-dropdown-color-hover: #353535;

        --text-color: white;
        --text-color-special: #4e4e4e;
        --text-color-alternate: white;
    }
}
*/

body {
    background-color: var(--bg-color);
}

/* Fonts */
body, .dropdown-content {
    font-family: "Gentium Plus", "Newsreader", serif;
    color: var(--text-color);
}
h1, h2, h3, h4, nav, button {
    font-family: "Modern Antiqua", "Gentium Plus", serif;
}

span {
    color: var(--text-color-special);
}

/* Links */
a {
    color: var(--link-color);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* Dikke scheidingsstreep */ 
hr {
    border: 1.5px solid var(--nav-color);
    margin: 1.5em 0;
}

code {
    font-family: Consolas, 'Courier New', monospace;
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    white-space: break-spaces;
    background-color: var(--code-bg);
    border-radius: 0.375em;
}

img {
    max-height: 400px;
    max-width: 100%;;
}


/* flex stuff */
.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0 5%
}

.flex-item {
    text-align: center;
    width: 40%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.flex-item a {
    color: var(--text-color);
    background-color: var(--bg-dim);
    width: 60%;
    padding: .5em;
    border-radius: .3em;
    margin: .3em;
}

.flex-item a:hover {
    background-color: var(--bg-dimmer);
    text-decoration: none;
}

.flex-container a:active {
    text-decoration: underline;
}

.flex-item a.niet-gehad {
    background-color: var(--bg-dimmerer);
}

@media screen and (max-width: 700px) {
    .flex-item {
        width: 80%;
    }

    .flex-item a {
        width: 90%;
    }
}