/*
De table is wit met oranje randjes en zwarte tekst, en de caption is oranje met witte tekst.
De "blank" class maakt het vakje de achtergrondkleur, en een <span> maakt de tekst oranje.
Zo kunnen de tabellen er uitzien als in het boek (Argo iig)
*/

table {
    /* font-size: 0.9em; */
    color: var(--text-color);
    background-color: var(--bg-dimmerer);
}
caption {
    font-weight: bold;
    background-color: var(--bg-dim);
    padding: 3px 3px 0px;
}
th, td {    
    padding: 1px 5px;
}

th {
    background-color: var(--bg-dim);
}

td, th.blank {
    background-color: var(--bg-color);
}

.table-container {
    overflow-x: auto;
}

table:not(.diff-width) th, table:not(.diff-width) td {
    min-width: 7.5em;
}
