<!-- Layout voor de homepage en de 404 pagina -->
<!-- Gecentered -->
 
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{page.title}}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{'/assets/css/main.css' | relative_url}}">
        <link rel="stylesheet" href="{{'/assets/css/navbar.css' | relative_url}}">
        <link rel="stylesheet" href="{{'/assets/css/footer.css' | relative_url}}">
        <link rel="stylesheet" href="{{'/assets/css/table.css' | relative_url}}">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Modern+Antiqua|Newsreader|Gentium+Plus">
    </head>
    <body>
        {% include nav.html %}
        <div style="margin: auto; text-align: center;">
            {{ content }}
        </div>
        
    </body>
</html>